@import "compass/css3";
@import "compass/layout/sticky-footer";
@import "compass/css3/box-shadow";
@import "compass/typography/lists/bullets";
@import "compass/utilities/sprites";
@import "compass/utilities/general/float";
@import "blueprint";
@import "compass/css3/font-face";
@import "compass/css3/opacity";
@import "compass/css3/transform-legacy";

@include font-face("ITCLubalinGraphStdBookOblique", font-files("lubalingraphstd-bookoblique-webfont.woff", woff, "lubalingraphstd-bookoblique-webfont.otf", truetype, "lubalingraphstd-bookoblique-webfont.svg", svg), "lubalingraphstd-bookoblique-webfont.eot");

@include font-face("ITCLubalinGraphStdDemi", font-files("lubalingraphstd-demi-webfont.woff", woff, "lubalingraphstd-demi-webfont.otf", truetype, "lubalingraphstd-demi-webfont.svg", svg), "lubalingraphstd-demi-webfont.eot");

@include font-face("ITCLubalinGraphStdBook", font-files("lubalingraphstd-book-webfont.woff", woff, "lubalingraphstd-book-webfont.otf", truetype, "lubalingraphstd-book-webfont.svg", svg), "lubalingraphstd-book-webfont.eot");

@include font-face("ITCLubalinGraphStdDemiOblique", font-files("lubalingraphstd-demioblique-webfont.woff", woff, "lubalingraphstd-demioblique-webfont.otf", truetype, "lubalingraphstd-demioblique-webfont.svg", svg), "lubalingraphstd-demioblique-webfont.eot");

#wrapper {
    margin: 0 auto;
    @include container;

    > header {
        height: 100px;
        @include box-shadow(1px 1px 12px #dcd9d9);
        margin-bottom: 70px;
    }
}

#progress-bar {
    height: 5px;
    width: 100%;
    background-color: #6034fb;
}

#logo {
    position: absolute;
    left: 590px;
    top: 30px;
}

.big, .medium {
    font-family: 'ITCLubalinGraphStdDemiOblique';
}

.big {
    font-size: 16px;
}

.medium {
    font-size: 14px;
}


#menu-item {
    color: #565656;
    padding: 0;

    li {
        list-style-type: none;
        float: left;
        margin-right: 60px;
        height: 71px;

        .icon {
            margin: 0 auto;
            height: 45px;
            padding-top: 12px;
        }

        &:last-child {
            margin-right: 0;
        }

        &.bordered {
            border-right: 1px solid #e8e8e8;
            padding-right: 40px;
            margin-right: 40px;
        }

        a {
            text-decoration: none;
            color: #565656;
        }
    }


    #about-me {
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 30px;

        .big, .medium {
            display: block;
        }

        .big {
            text-align: center;
            margin-bottom: 5px;
        }

        .medium {
            margin-bottom: 10px;
        }
    }

    #inspirations, #on-paper {
        .icon {
            width: 62px;
            padding-top: 22px;
            height: 35px;
        }
    }

    #inspirations {
        margin-right: 160px;
    }

    #multimedias {
        .icon {
            width: 39px;
        }
    }

    #photography {
        .icon {
            width: 34px;
        }
    }

    .label {
        font-family: 'ITCLubalinGraphStdBookOblique';
        font-size: 11px;
        text-align: center;
        display: block;
    }

    .icon {
        display: block;
    }
}

#home {
    height: 350px;

    .message {
        padding-top: 130px;
        @include float-left();

        ul {
            @include no-bullet();

            li {
                text-align: center;
                display: none;
                font-family: 'ITCLubalinGraphStdDemi';
                font-size: 36px;
                color: #6034fb;
                text-transform: uppercase;

                &.current {
                    display: block;
                }
            }
        }
    }

}

.clear {
    clear: both;
}

.float-left {
    @include float-left();
}

.float-right {
    @include float-right();
}

#projects {
    h3 {
        border-bottom: 1px solid #6034FB;
        margin: 0;
        margin-bottom: 20px;
    }
    #cloud {
        .medium {
            position: relative;
            top: -10px;
            color: #565656;
        }
    }

    #projects-container {
        margin: 10px 0 40px;
        width: 950px;
        height: 121px;
        position: relative;

        .arrow {
            height: 120px;
            width: 60px;
            background-color: #fff;
            display: block;
            position: absolute;
            z-index: 10;

            span.icon {
                position: absolute;
                top: 45px;
            }

            &.right {
                right: 0;

                span.icon {
                    right: 0;
                }
            }

            &.left {
                left: 0;
                span.icon {
                    left: 0;
                }
            }
        }

        ul {
            @include no-bullet();
            padding: 0;
            margin: 0;
            overflow: hidden;
            position: relative;
            top: 0;
            left: 0;

            li {
                float: left;

                &:not(:last-child) {
                    margin-right: 20px;
                }

                div.project {
                    height: 120px;
                    width: 120px;
                    position: relative;

                    a {
                        display: block;
                    }

                    .arrow-container {
                        height: 0;
                        width: 0;
                        border-width: 0 43px 43px;
                        border-color: transparent transparent #fff transparent;
                        border-style: solid;

                        &.top-left {
                            @include rotate(-45deg);
                            position: absolute;
                            top: -7px;
                            left: -28px;
                        }

                        &.top-right {
                            @include rotate(45deg);
                            position: absolute;
                            top: -7px;
                            right: -28px;
                        }

                        &.bottom-right {
                            @include rotate(135deg);
                            position: absolute;
                            bottom: -7px;
                            right: -28px;
                        }

                        &.bottom-left {
                            @include rotate(-135deg);
                            position: absolute;
                            bottom: -7px;
                            left: -28px;
                        }
                    }
                }
            }
        }
    }
}

#inspirations {

    #images-container {
        ul {
            margin: 0;
            padding: 0;
            @include no-bullet();

            li {
                margin-top: 20px;
                display: inline-block;
                margin-right: 45px;

                &:last-child, &:nth-child(4n) {
                    margin-right: 0;
                }
            }
        }
    }

    #inspirations-container {
        padding-bottom: 35px;
        border-bottom: 1px solid #e9e9e9;
    }

    .inspiration {
        h3 {
            font-family: 'ITCLubalinGraphStdDemi';
            font-size: 18px;
            color: #fbc034;
            text-transform: uppercase;
        }

        ul {
            @include no-bullet();
            padding: 0;
            margin: 0;

            li {
                a {
                    color: #616161;
                    text-decoration: none;
                    font-size: 13px;
                    font-family: 'ITCLubalinGraphStdBook';

                    &:hover {
                        color: #6034FB;
                    }
                }
            }
        }

        &:nth-child(2n), &:nth-child(2n+1) {
            text-align: center;
        }

        &:nth-child(2n+1) {
            text-align: center;
        }

        &:nth-child(4n) {
            text-align: right;
            float: right;
        }

        &:first-child, &:nth-child(4n+1) {
            text-align: left;
        }

    }
}

.scrollable {
    @include translate3d(0,0,0);
}


@include blueprint-grid();

.slideshow {
    width: 480px;

    .slideshow-container {
        .slideshow-arrow {
            height: 0;
            width: 0;
            border-width: 0 40px 40px;
            border-color: transparent transparent #fff transparent;
            border-style: solid;

            &.top-left {
                @include rotate(-45deg);
                position: absolute;
                top: -6px;
                left: -27px;
            }

            &.bottom-right {
                @include rotate(135deg);
                position: absolute;
                bottom: -6px;
                right: -26px;
            }
        }
    }

    .slideshow-slides-container {
        height: 325px;
        background-color: #868686;
        position: relative;
        overflow: hidden;
        visibility: visible;
    }

    .slideshow-item-list {
        @include no-bullet();
        padding: 0;
        margin: 0;

        li {
            display: table-cell;
        }
    }

    .slideshow-position-list {
        @include no-bullet();
        padding: 0;
        margin: 0;

        li {
            display: inline-block;

            a {
                font-size: 13px;

                &.active, &:hover {
                    span {
                        color: #6b42fb;
                    }
                }
            }

            &:not(:last-child) {
                margin-right: 5px;

                a {
                    span {
                        &:after {
                            content: '.';
                        }
                    }
                }
            }

            a {
                display: block;
                font-family: 'ITCLubalinGraphStdBook';
                color: #565656;
                text-decoration: none;

                &.current {
                    color: #6b42fb;
                }

                &:hover {
                    color: #565656;
                }
            }
        }
    }
}

#project-detail {
    height: 350px;
    margin-bottom: 30px;
}

.project-focus {
    color: #616161;

    .project-focus-header {
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
        padding: 15px 0;
    }

    h2 {
        font-family: 'ITCLubalinGraphStdDemi';
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
    }

    .project-focus-container {
        padding-left: 50px;
        font-family: 'ITCLubalinGraphStdBook';
        font-size: 13px;
    }

    td.label {
        width: 60px;
    }

    p {
        margin-top: 40px;
        text-align: justify;
    }
}

#footer {
    margin-top: 20px;
}


/*@include sticky-footer(54px, "#wrapper", "#main", "#footer")*/
