@import "compass/css3";
@import "compass/css3/box-shadow";
@import "compass/typography/lists/bullets";
@import "compass/utilities/sprites";
@import "compass/utilities/general/float";
@import "blueprint";
@import "compass/css3/font-face";

@include font-face("ITCLubalinGraphStdBookOblique", font-files("lubalingraphstd-bookoblique-webfont.woff", woff, "lubalingraphstd-bookoblique-webfont.otf", truetype, "lubalingraphstd-bookoblique-webfont.svg", svg), "lubalingraphstd-bookoblique-webfont.eot");

@include font-face("ITCLubalinGraphStdDemi", font-files("lubalingraphstd-demi-webfont.woff", woff, "lubalingraphstd-demi-webfont.otf", truetype, "lubalingraphstd-demi-webfont.svg", svg), "lubalingraphstd-demi-webfont.eot");

@include font-face("ITCLubalinGraphStdBook", font-files("lubalingraphstd-book-webfont.woff", woff, "lubalingraphstd-book-webfont.otf", truetype, "lubalingraphstd-book-webfont.svg", svg), "lubalingraphstd-book-webfont.eot");

@include font-face("ITCLubalinGraphStdDemiOblique", font-files("lubalingraphstd-demioblique-webfont.woff", woff, "lubalingraphstd-demioblique-webfont.otf", truetype, "lubalingraphstd-demioblique-webfont.svg", svg), "lubalingraphstd-demioblique-webfont.eot");

#wrapper {
    margin: 0 auto;
    @include container;

    > header {
        height: 100px;
        @include box-shadow(1px 1px 12px #dcd9d9);
        margin-bottom: 50px;
    }
}

#progress-bar {
    height: 5px;
    width: 100%;
    background-color: #6034fb;
}

#logo {
    position: absolute;
    left: 620px;
    top: 30px;
}

#menu-item {
    color: #565656;
    padding: 0;

    li {
        list-style-type: none;
        float: left;
        margin-right: 60px;
        height: 71px;

        .icon {
            margin: 0 auto;
            height: 45px;
            padding-top: 12px;
        }

        &:last-child {
            margin-right: 0;
        }

        &.bordered {
            border-right: 1px solid #e8e8e8;
            padding-right: 33px;
            margin-right: 33px;
        }

        a {
            text-decoration: none;
            color: #565656;
        }
    }


    #about-me {
        padding-left: 30px;

        .big, .medium {
            font-family: 'ITCLubalinGraphStdDemiOblique';
            display: block;
        }

        .big {
            font-size: 16px;
            text-align: center;
            margin-bottom: 5px;
        }

        .medium {
            font-size: 14px;
            margin-bottom: 10px;
        }

    }

    #inspirations, #on-paper {
        .icon {
            width: 62px;
            padding-top: 22px;
            height: 35px;
        }
    }

    #inspirations {
        margin-right: 165px;
    }

    #multimedias {
        .icon {
            width: 39px;
        }
    }

    #photography {
        .icon {
            width: 34px;
        }
    }

    .label {
        font-family: 'ITCLubalinGraphStdBookOblique';
        font-size: 11px;
        text-align: center;
        display: block;
    }

    .icon {
        display: block;
    }
}

#home {
    height: 350px;

    .message {
        padding-top: 130px;
        @include float-left();

        ul {
            @include no-bullet();

            li {
                text-align: center;
                display: none;
                font-family: 'ITCLubalinGraphStdDemi';
                font-size: 36px;
                color: #6034fb;
                text-transform: uppercase;

                &.current {
                    display: block;
                }
            }
        }
    }

    .slideshow {
        width: 480px;
        height: 325px;
        background-color: #868686;
        position: relative;

        .slideshow-container {

            .slideshow-arrow {
                height: 0;
                width: 0;
                border-width: 0 40px 40px;
                border-color: transparent transparent #fff transparent;
                border-style: solid;

                &.top-left {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    position: absolute;
                    top: -6px;
                    left: -26px;
                }

                &.bottom-right {
                    -webkit-transform: rotate(135deg);
                    -moz-transform: rotate(135deg);
                    position: absolute;
                    bottom: -6px;
                    right: -26px;
                }
            }
        }
    }
}

.clear {
    clear: both;
}

.float-left {
    @include float-left();
}

.float-right {
    @include float-right();
}

@include blueprint-grid();
